# Ignore all non-mobile folders in the workspace
flood_ai
flood_ai/**
flood_monitor/backend
flood_monitor/backend/**
flood_monitor/frontend
flood_monitor/frontend/**
venv
venv/**
*.apk
*.pt
*.bak
ffmpeg
ffmpeg/**
dist
dist/**
build
build/**

# Inside mobile, ignore node_modules and native build cache
**/node_modules
**/node_modules/**
**/android
**/android/**
**/ios
**/ios/**
**/.expo
**/.expo/**
**/.cxx
**/.cxx/**
**/.gradle
**/.gradle/**
