node_modules
node_modules/**
.expo
.expo/**
dist
dist/**
web-build
web-build/**
.git
.git/**
android
android/**
ios
ios/**
*.apk
*.aab
*.tar.gz
*.zip
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
app-example
app-example/**
